* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    padding: 2rem; 
}

.vertical {
    display: flex;
    flex-direction: column;
    /* margin: 0 auto; */
}

.calcbody {
    text-align: right;
    border-radius: 5px;
    /* padding: 30px; */
     margin-right: 20px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* max-width: 70%; */
}

.horizontal {
    display: flex;
}

.button {
    /* properti pendukung */
    font-size: 1.5em;
    text-align: center;
    padding: 40px;
    border: 1px solid black;
    background: -webkit-linear-gradient(top, #d2d2d2, #ddd);
    cursor: pointer;
 }

 .grow1 {
    flex-grow: 1;
 }

 .basis25 {
    flex-basis: 25%;
 }

 .basis50 {
    flex-basis: 50%;
 }

 .basis75 {
     flex-basis: 75%;
 }

 .display {
    color: white;
    width: 100%;
    padding: 10px 20px;
    background-color: #333333;
    /* border: 1px solid black; */
    font-size: 2em;
 }

 .button:hover {
     font-weight: bold;
 }

.operator,
.negative,
.equals {
   background: orange;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 30px;
    /* margin-top: 20px; */
 }

.history {
    overflow: scroll;
 }

 table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
 }

th,
td {
   text-align: center;
   padding: 16px;
}

th {
    background-color: orange;
    color: white;
 }
  
 tr:nth-child(even) {
    background-color: #d2d2d2;
 }
@media screen and (max-width: 1000px) {
    #inti {
        /* max-width: 100%; */
        display: block;
    }

    .calcbody {
        margin-right: 0;
    }
}

@media screen and (max-width: 513px) {
    .button {
        padding: 0.625rem;
    }
 }